@use '../../styles/mixins.scss';

.ScreenA {
  .primary {
    @include mixins.desktopPrimary;

    h2 {
      margin-bottom: 4px;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.44px;
    }
  }

  .pie-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;

    margin-top: 48px;

    .pie {
      margin-left: calc(50% - 200px);
    }

    .stat {
      position: relative;
      padding-left: 10px;
      color: var(--text-text-primary);

      line-height: 24px;
      font-size: 16px;
      font-weight: 400;

      &+.stat {
        margin-top: 16px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 20px;
        background: var(--color-neutral-48, #606060);
      }

      &.stat-1::before {
        background: var(--color-neutral-48, #606060);
      }

      &.stat-2::before {
        background: var(--color-neutral-32, #404040);
      }

      &.stat-3::before {
        background: var(--color-neutral-80, #9F9F9F);
      }

      strong {
        display: block;
        font-weight: inherit;
      }
    }

    .parameter {
      margin-top: 14px;

      h4 {
        margin-bottom: 16px;
        color: var(--text-text-primary);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.56px;
      }

      .bar {
        margin-bottom: 32px;
        width: 120px;
        height: 4px;
        background: var(--surface-surface-primary, #202020);
        border-radius: 4px;
      }

      .fill {
        width: 0;
        height: 100%;
        background: var(--surface-surface-tooltip, #606060);
      }
    }
  }

  .graph {
    position: absolute;
    bottom: 12px;
    left: 24px;
    right: 24px;
    height: auto;
  }

  .secondary {
    @include mixins.desktopSecondary;
    padding: 20px 20px 0 20px;

    .profile-info {
      position: relative;
      margin-bottom: 18px;
      padding-left: 96px;
      min-height: 80px;
    }

    .avatar {
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    h3 {
      margin-bottom: 4px;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.44px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    .parameters {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      padding: 12px 16px 16px 16px;
      background: var(--surface-surface-tertiary);

      .parameter {
        width: 50%;
      }

      h4 {
        margin-bottom: 12px;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0.56px;
      }

      .bar {
        margin-top: 12px;
        width: 120px;
        height: 4px;
        background: var(--surface-surface-primary);
        border-radius: 4px;
      }

      .fill {
        width: 0;
        height: 4px;
        background: var(--icon-icon-secondary, #9F9F9F);
        border-radius: 4px;
      }
    }
  }
}
