.Tip {
	position: absolute;
	z-index: 10000000;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: url('../../images/tooltip-icon.svg') center center no-repeat;
	background-size: 100% 100%;
	transition: filter .15s ease-in-out;
	cursor: pointer;

	&:hover {
		filter: brightness(1.1);
	}
}

@keyframes TipLayer-fade-in {
	from {
		opacity: 0;
		transform: translateY(6px);
	}
}

@keyframes TipLayer-fade-out {
	to {
		opacity: 0;
		transform: translateY(-3px);
	}
}

.TipLayer {
	position: fixed;
	z-index: 10000001;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: TipLayer-fade-in 150ms ease-in-out both;
	will-change: opacity, transform;
	contain: strict;
	pointer-events: none;

	&.fade-out {
		animation: TipLayer-fade-out 150ms ease-in-out both;
	}

	.arrow {
		position: fixed;
		z-index: 2;
		margin-left: -10px;
		margin-top: -10px;
		width: 20px;
		height: 20px;
		background: var(--surface-surface-tooltip);
		mask: url('../../images/tooltip-arrow.svg') center center no-repeat;

		&.right-topEdge,
		&.right-center,
		&.right-bottomEdge {
			transform: rotate(90deg);
		}

		&.left-bottom,
		&.leftEdge-bottom,
		&.center-bottom,
		&.right-bottom,
		&.rightEdge-bottom {
			transform: rotate(180deg);
		}

		&.left-topEdge,
		&.left-center,
		&.left-bottomEdge {
			transform: rotate(270deg);
		}
	}

	.content {
		position: absolute;
		width: 280px;
		padding: 16px;
		color: var(--text-text-primary);
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.56px;
		background: var(--surface-surface-tooltip);
		pointer-events: auto;

		h6 {
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		p:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
