.SingleNotice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  position: relative;
  margin-left: auto;
  width: 411px;
  min-height: 90px;
  padding: 10px 30px 10px 112px;
  background: var(--surface-surface-tertiary);
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    background: url('../../images/braces.svg') center center no-repeat;
    background-size: contain;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 30px;
    height: 30px;
    transition: background-color .15s ease-in-out;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      mask: url('../../images/window-close.svg') no-repeat center center;
      mask-size: 20px;
      background-color: var(--window-icon-secondary);
      transition: background-color .15s ease-in-out;
    }

    &:hover {
      background-color: var(--hover-hover-secondary-dark);

      &::before {
        background-color: var(--window-icon-primary);
      }
    }
  }

  .text {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.32px;

    &.icon {
      position: relative;
      padding-left: 38px;
      min-height: 30px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        mask: url('../../images/status.svg') center center no-repeat;
        mask-size: contain;
        background-color: var(--text-text-primary);
      }
    }

    &.icon-warning::before {
      background-color: var(--status-warning);
    }

    &.icon-error::before {
      background-color: var(--status-error);
    }

    kbd,
    strong,
    b {
      font-weight: 700;
    }
  }

  .action {
    height: 32px;
    padding: 5px 15px;
    border: 1px solid var(--border-border-secondary);
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.56px;
    text-align: center;
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: var(--hover-hover-secondary-dark);
    }
  }
}
